.image-bg{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: contain;
    background-image: url('./../../../assets/writing.jpg');
}
.image-overly{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.7);

}
.image-overly .content{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.image-overly .content  h2{
    font-weight: 600;
}
.image-overly .content p{
margin: 13px auto 20px;
}
.image-overly .content button{
    background-color: #00AEFF ;
    color: white;
    width: fit-content;
    border-radius: 16px;
    margin: 0 auto;
    border: none;
    padding: 5px 12px;
}