.news{
    width: 100%;
    height: 200vh ;
}

.news .new_card{
   height: 80%;
    width: 90%;
    margin: 100px auto;
   
 }
 .news  .new_card .grid-container .card:hover{
    transform: scale(1.1);
    transition: 1.1s;
 }
 .news  .new_card .grid-container .card{
    width: 500px;
    height:320px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    margin:1.2rem auto;
    padding-right: 15px;
   
 }
 .news .new_card .grid-container .card img {
    width: 36%;
   height: 100%;
   border-radius: 7px;
   overflow: hidden;
   margin-right: 1
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 20px; /* Spacing between grid items */
  }
  .news .new_card .grid-container   .card .right_sec{
    flex-direction: column;
    display: flex;
    /* align-items: center; */
    height: 100%;
    width: 58%;
    float: right;
    margin: 0 auto;
    /* margin-bottom: 20px; */
  
}
.news .new_card .grid-container  .card .right_sec .date_admin{
    flex-direction: row;
    display: flex;
    height: fit-content;
    width: 90%;
    padding-bottom: 10px;
    }
    .news .new_card .grid-container .card .right_sec h4{
        color: #8697DC;
        margin-top: 25px;
        padding-bottom:18px ;
    }
    .news .new_card .grid-container  .card .right_sec span {
        font-size: 7px;
        color: gray;
        margin: 0;
        font-weight: bold;
        
        }

      .news  .new_card .grid-container .card .right_sec span .icon{
            width: 50px;
            height: 50px;
        }
        .news .new_card .grid-container .card .right_sec .paragraph{
            padding-top: 20px;
            margin-bottom: 15px;
        }
        
        .news .new_card .grid-container .card .right_sec h4{
            color:  #8697DC;
            padding-bottom: 10px;
        }    


        .pagination {
            display: flex;
            justify-content: center;
          }
          
          .circle {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: rgb(185, 177, 177);
            margin: 0 5px;
          }
          
          .active {
            background-color: rgb(51, 51, 139);
          }
          .circle:hover{
            cursor: pointer;
          }